.leia-mais{
    background-color: #E6E7E9;
    margin: 18px;
    padding: 12px 306px;
}
.tags{
    padding: 20px 0px;
    border-bottom: 1px solid #D6DBDC;
}
.subtitulo-texto{
    padding-top: 15px;
}